cell-container {
  ion-grid {
    height: 90%;

    ion-row {
      height: 33.33%;
    }
    ion-row:nth-child(1) {
      ion-col:nth-child(1) {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      ion-col:nth-child(2) {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }
      ion-col:nth-child(3) {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }
    }
    ion-row:nth-child(2) {
      ion-col:nth-child(1) {
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      ion-col:nth-child(2) {
        border: 1px solid black;
      }
      ion-col:nth-child(3) {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-top: 1px solid black;
      }
    }
    ion-row:nth-child(3) {
      ion-col:nth-child(1) {
        border-top: 1px solid black;
        border-right: 1px solid black;
      }
      ion-col:nth-child(2) {
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-left: 1px solid black;
      }
      ion-col:nth-child(3) {
        border-left: 1px solid black;
        border-top: 1px solid black;
      }
    }
  }

}
