cell-container {
  .disableInput {
    pointer-events: none;
  }
  ion-grid {
    height: 90%;

    ion-row {
      height: 33.33%;
    }
    ion-row:nth-child(1) {
      ion-col:nth-child(1) {
        border-right: 3px solid gray;
        border-bottom: 3px solid gray;
      }
      ion-col:nth-child(2) {
        border-right: 3px solid gray;
        border-bottom: 3px solid gray;
        border-left: 3px solid gray;
      }
      ion-col:nth-child(3) {
        border-bottom: 3px solid gray;
        border-left: 3px solid gray;
      }
    }
    ion-row:nth-child(2) {
      ion-col:nth-child(1) {
        border-top: 3px solid gray;
        border-right: 3px solid gray;
        border-bottom: 3px solid gray;
      }
      ion-col:nth-child(2) {
        border: 3px solid gray;
      }
      ion-col:nth-child(3) {
        border-bottom: 3px solid gray;
        border-left: 3px solid gray;
        border-top: 3px solid gray;
      }
    }
    ion-row:nth-child(3) {
      ion-col:nth-child(1) {
        border-top: 3px solid gray;
        border-right: 3px solid gray;
      }
      ion-col:nth-child(2) {
        border-right: 3px solid gray;
        border-top: 3px solid gray;
        border-left: 3px solid gray;
      }
      ion-col:nth-child(3) {
        border-left: 3px solid gray;
        border-top: 3px solid gray;
      }
    }
  }

}
