<!-- Generated template for the CellContainerComponent component -->
<ion-grid col-4 offset-4="">
  <ion-row>
    <ion-col col-4>
      <cell></cell>
    </ion-col>
    <ion-col col-4>
      <cell></cell>
    </ion-col>
    <ion-col col-4>
      <cell></cell>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <cell></cell>
    </ion-col>
    <ion-col col-4>
      <cell></cell>
    </ion-col>
    <ion-col col-4>
      <cell></cell>
    </ion-col>
  </ion-row>  <ion-row>
  <ion-col col-4>
    <cell></cell>
  </ion-col>
  <ion-col col-4>
    <cell></cell>
  </ion-col>
  <ion-col col-4>
    <cell></cell>
  </ion-col>
</ion-row>
</ion-grid>
